.sell-car-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sell-car-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.sell-car-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-group {
  flex: 1;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-group input[type="file"] {
  padding: 3px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.car-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.car-item {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 20px;
}

.car-item-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-item-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.car-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
}

.car-item h3 {
  margin-top: 0;
  text-align: center;
}

.car-item p {
  margin: 5px 0;
}

.car-item button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.car-item button:hover {
  background-color: #0056b3;
}

.car-item-price {
  font-weight: bold;
  color: #007BFF;
  text-align: center;
}

.imageSell {
  max-width: 100px;
  max-height: 50px;
}

.CarSaleTitle {
  margin-bottom: -10px;
  margin-top: 20px;
}